*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
  }
  .wrapper{
    margin: 10px auto;
    padding: 0 10%;
    padding-bottom: 10px;
    text-transform: capital
  }
  .container{
    min-height: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
  }
  img{
  
    width: 40vw;
    height: 55vh;
    display: block;
    object-fit: cover;
    object-position: center;
    float: left;
  }
  h1{
    text-align: center;
  }
  h2{
    
    text-align: right;
  }
  p{
    text-align: right;
  }
  
  h1{
    color: #040202;
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  }
  
  .heading1{
    padding-top: 10%;
    text-align: center;
    
  }
  
  .heading2{
    text-align: center;
    padding-top: 20%;
  }
  
  .heading3{
    text-align: center;
    padding-top: 30%;
  }
  
 